
.ContainerExtra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    color:black;
    border-radius: 20px;
    gap: 20px;
}

.ContainerExtra button {
    background-color: red;
    color: white;
    cursor: pointer;
}
.url{
    background-color: black;
    color:white;
    cursor: pointer;
}

.url:hover {
    background-color: rgb(40, 193, 204);
    color: black ;
}